/* TODO: Take image of ready client and add it as background image when
no backend collection can be made */

body {
  background-color: #696969;
  margin: 0;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* generic css here */

button {
  border: 2px solid black;
  height: 30px;
  border-radius: 3px;
  color: black;
  background: transparent;
  transition: background 200ms;
  cursor: pointer;
}
button:hover {
  background: #bbb;
}

/* thing in center of screen */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}canvas {
  background-color: lightgrey;
}
.pixelInfo {
  position: absolute;
  background-color: lightgrey;
  border-color: black;
  inline-size: max-content;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
/* TODO: Center both message and warning perfectly,
scale div according to text length*/

.textcontent {
  margin: 20px;
  color: white;
  font-size: 110%;
}

.messageBox {
  border: 2px solid black;
  border-radius: 4px;
  background: #a0adad;
  width: 200px;
  text-align: center;
  color: black;
  padding: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.messageBox.warning {
  color: darkred;
}

.messageBox p {
  margin: 0;
  margin-bottom: 15px;
}

.button {
  background-color: lightgreen;
}
.loadingScreen {
  background-color: #c0ffee;
  height: 120px;
  width: 300px;
  padding: 30px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid black;
}
.colorSelect {
  display: flex;
  align-items: center;
}

.colorSelect label {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
}

.colorSelect input[type=checkbox]:checked + label {
  border-width: 3px;
  border-color: black;
}

.colorSelect label:hover {
  cursor: pointer;
}

.colorSelect input[type=checkbox] {
  display: none;
}
:root {
	--main-text-color: #a8a8a8;
	--dark-text-color: #696969;
  --light-text-color: #ffffff;
	--main-bg-color: #202124;
	--light-bg-color: #46484f;
}

@keyframes bottomBarAnimation {
  from {bottom: -100px;}
  to {bottom: 0px;}
}

.bottomBar {
  background-color: var(--main-bg-color);
  border-top: 2px solid black;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  animation-name: bottomBarAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.bottomBar > * {
  margin: 4px 7px;
}

.colorArea {
  border: 1px solid black;
  border-radius: 5px;
  background: var(--light-bg-color);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 3px;
}

.progressContainer {
  position: relative;
  flex: 1 1 300px;
  padding: 0;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  border-color: var(--dark-text-color);
}

.progressBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  /* width from JS */
  background-color: #5afa77;
  border-radius: 5px;
}

.progressInfo {
  z-index: 3;
  color: var(--dark-text-color);
  position: absolute;
  margin: 0 0 0 3px;
  margin-left: 10px;
  margin-top: 5px;
  color: black;
}

.statsArea span {
  margin-right: 15px;
  color: white;
}

.creatorArea {
  display: flex;
  flex-flow: row nowrap;
  color: var(--main-text-color);
}

.setNickButton {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
}

.creditsButton {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
}

.adminButton {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
}
.menu {
  background-color: white;
  color: black;
  height: 150px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

input[type="text"]{
  width: 250px;
  border: 1px solid black;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

button {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.sample{
  background-color: green;
  z-index: 3;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 100px;
  text-indent: -100px
}

.offset {
  margin: 20px;
}

.colorMakerSelect {
  display: inline-block;
}

.colorMakerSelect label {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  display: inline-block;
  text-indent: -100px;
}

.colorMakerSelect label:hover {
  cursor: pointer;
}

.colorMakerSelect input[type=radio] {
  visibility: hidden;
  width: 0;
}

.colorMakerSelect input[type=radio]:checked + label {
  outline: 2px solid black;
}
/* TODO: Center both message and warning perfectly,
scale div according to text length*/

.textcontent {
  margin: 20px;
  color: white;
  font-size: 110%;
}

.messageBox {
  border: 2px solid black;
  border-radius: 4px;
  background: #a0adad;
  width: 200px;
  text-align: center;
  color: black;
  padding: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.messageBox.warning {
  color: darkred;
}

.messageBox p {
  margin: 0;
  margin-bottom: 15px;
}
.button-base {
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

.button-enabled {
  border: 2px solid black;
  background-color: red;
}

.button-enabled:hover {
  background-color: #ffcccb;
}

.button-disabled {
  border: 2px solid black;
  background-color: green;
}

.button-disabled:hover {
  background-color: lightgreen;
}
/* TODO: Center both message and warning perfectly,
scale div according to text length*/

.textcontent {
  margin: 20px;
  color: white;
  font-size: 110%;
}

.adminBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 10vw;
  /* height: 30vh; */
  border: 2px solid black;
  border-radius: 4px;
  background-color: darkgrey;
  text-align: center;
  color: var(--main-text-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.adminBox p {
  margin: 0;
  margin-bottom: 15px;
}

.adminBox button {
  margin: 10px;
}

.OkButton {
  margin-top: 5px;
  color: black;
  background-color: white;
}/* TODO: Center both message and warning perfectly,
scale div according to text length*/

.textcontent {
  margin: 20px;
  color: white;
  font-size: 110%;
}

.creditsBox {
  border: 2px solid black;
  border-radius: 4px;
  background: lightgrey;
  color: black;
  width: 200px;
  text-align: center;
  padding: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.creditsBox p {
  margin: 0;
  margin-bottom: 15px;
  color: black;
}

.creatorList {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.creatorList li {
  margin-left: 8px;
  text-align: left;
}

.OkButton {
  color: black;
  background-color: red;
}
